<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config.PAGE_TITLE }}</title>

    <link rel="stylesheet" href="/static/style.css">

    <script>
        function usernameChange()
        {
            var DEFAULT_UPN_SUFFIX = "{{ config.DEFAULT_UPN_SUFFIX }}";
            var upn = document.getElementById("username").value;

            if (upn && upn.indexOf("@") == -1) {
                upn += "@" + DEFAULT_UPN_SUFFIX;
            }

            document.getElementById("upn").innerHTML = upn;
        }
    </script>
  </head>

  <body>
    <main>
      {% if config.BRANDING_LOGO %}
      <img class="logo" alt="Logo" src="{{ config.BRANDING_LOGO }}" />
      {% endif %}

      <h1>{{ config.PAGE_TITLE }}</h1>

      <form method="post" autocomplete="off">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" value="{{username}}" required autofocus onkeyup="usernameChange()">

        <span class="mono" id="upn"></span>

        <label for="old-password">Old password</label>
        <input id="old-password" name="old-password" value="{{old_pass}}" type="password" required>

        <label for="new-password">New password</label>
        <input id="new-password" name="new-password" type="password" required>

        <label for="confirm-password">Confirm new password</label>
        <input id="confirm-password" name="confirm-password" type="password" required>

        <button type="submit">Update password</button>
      </form>

      <div class="alerts">
        {% for type, text in (alerts or []) %}
          <div class="alert {{ type }}">{{ text }}</div>
        {% endfor %}
      </div>

      <p class="version">Diress v{{config.VERSION}}</p>
    </main>
  </body>
</html>
